<h1>Coaching#ask</h1>
<p>pose ta question</p>


<form action="/answer">
  <label for="question">pose une question à ton coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
